*{
    padding: 0;
    margin: 0;
    font-family: serif;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

/*estilos barra superior*/
#menuSup { 
    position: relative;
    width: 100%;
    height: 85px;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(202, 202, 202); 
}
.brand
{
    float: left;
    padding: 30px 39px;
    background-color: #fff;
}
.navbar
{
    float: left;
    padding: 16px 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-btn button
{
    font-size: 24px;
    padding: 4px 8px;
    line-height: .7;
    border: none;
    background: none;
    outline: none;
}
.btnAtras
{
    background-color: white;
    border: none;
    color: rgb(75, 75, 75);
}



/*Estilos contenido*/
.container
{
    position: static;
    display: flex;
    justify-content: left;
    
    
}

#contenido {
      
    color: #4d4d4d; 
    padding: 20px;
    
    
}
#menuHorizontal {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#menuHorizontal li {
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: #3b3a3a;
    background-color: white;
    padding: 3px 5px;
    display: block;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
#menuHorizontal li:hover {
    color: #336699;
    font-size: 14px;
}

.mhorizon
{
   float: right;
   padding: 30px;
}




#menuDer {
    font-family: Arial;
    height: auto;
    background-color: #202c3b;
    width: 276px;
}
#menuDer p {
    margin: 0px;
    padding: 0px;
    border-left: 5px solid #202c3b;
    
}
#menuDer a {
    display: block;
    padding: 15px;
    width: 200px;
    background-color: #202c3b;
    border-bottom: 0px solid #eeeeee;
    text-align: left;
    color: #999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height: 30px;
    margin-left: 25px;
}

.active {
  border-left: 5px solid #1478e4 !important;
  background-color: #202c3b;
}
#menuDer a:link {
  text-decoration: none;
}
#menuDer a:hover {
  color: #ffffff;
}
#menuDer i{
    margin-top: 10px;
}

.enunciadoEjer
{
    padding: 30px;
}
.ejercicio1
{
    display: flex;
    flex-direction: row;
}
.listaEjer
{
    padding-left: 30px;
}
table
{
    padding-left: 30px;
    padding-top: 30px;
}
input
{
    background-color: rgb(224, 224, 224);
    color: #202c3b;
    margin: 10px;
    border: 1px;
    box-shadow: 1px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}
input:hover
{
    background-color: #202c3b;
    color: white;
    border-radius: 10px;
}
.contenidoAzar
{
padding: 50px;
padding-bottom: 120%;
}
.numerosazar
{
    display: flex;
}
